@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Reggae+One&display=swap");

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Poppins", sans-serif;
}

header {
	background-color: #2c3a47;
}

.main-heading {
	font-family: "Reggae One", cursive;
	color: #cad3c8;
}

main {
	background-color: #ecf0f1;
	color: #2c3a47;
}

#company-description {
	text-align: justify;
}

#default {
	height: 80vh;
}

.deafult-container {
	padding-top: 25vh;
}

.text-vertical {
	margin-top: auto;
	margin-bottom: auto;
}

footer {
	background-color: #2c3a47;
}

footer a {
	text-decoration: none !important;
	color: #ecf0f1;
}

footer a:hover {
	text-decoration: none !important;
	color: #ecf0f1;
}
